/* bar_chart */
.bar_chart rect{
	fill:steelblue;
}

.bar_chart rect:hover{
	fill:blue;
}

.bar_chart text{
	fill: grey;
	font: 20px sans-serif;
	text-anchor: end;
}

.bar_chart path { 
  fill: none; 
  stroke: black; 
  stroke-width; 1; 
} 

/* pie_chart */
.pie_chart .slice text {
	font-size: 16pt;
	font-family: Arial;
} 

.pie_chart .slice:hover{
	fill: blue;
}

/* complex bar chart */
