@(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>TurboBI</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")"> 
    </head>
    <body>
        
        <header class="topbar">
            <h1 class="fill">
                <a href="@routes.Application.index()">
                    TurboBI
                </a>
            </h1>
        </header>
        
        <section id="main">
            @content
        </section>
        
		@helper.form(action = routes.Application.upload, 'enctype -> "multipart/form-data") {
    
		    <input type="file" name="csvfile">
    
		    <p>
		        <input type="submit">
		    </p>
    
		}
		
    </body>
</html>
